@import url("./_variable.scss");
@import url("./_variable.scss");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
          box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  z-index: 9999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .logo {
  width: 25%;
}
@media only screen and (max-width: 992px) {
  .header .container .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 40px;
  }
}
.header .container .logo .toggle {
  display: none;
}
@media only screen and (max-width: 992px) {
  .header .container .logo .toggle {
    display: block;
  }
}
.header .container .logo img {
  width: 80px;
}
.header .container .menu {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 992px) {
  .header .container .menu {
    display: none;
  }
}
.header .container .navbar a {
  position: relative;
  margin-right: 50px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #181818;
}
.header .container .navbar a:hover {
  color: #b61984;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.header .container .navbar a:hover::before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}
.header .container .navbar a::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: #b61984;
  top: 45px;
  left: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}
.header .container .navbar .active::before {
  opacity: 1;
}
.header .container .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .container .link .phone {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #b61984;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .container .link .phone:hover {
  color: #b61984;
  border: 1px solid #b61984;
  background-color: #ffffff;
}
.header .container .link .phone i {
  margin-right: 3px;
}
.header .container .link .list-link a {
  margin-left: 12px;
  font-size: 13px;
  color: #181818;
}
.header .container .link .list-link a:hover {
  color: #b61984;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.carousel {
  padding: 50px 0;
  background-image: url("../img/Violet_top_left_wave.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.carousel::before {
  position: absolute;
  content: "";
  display: block;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url("../img/yellow_top_wave_01.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}
.carousel .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 768px) {
  .carousel .container {
    padding: 50px;
    display: block;
  }
}
.carousel .container .about {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .carousel .container .about {
    width: 100%;
  }
}
.carousel .container .about .title {
  font-size: 20px;
  font-weight: 600;
  color: #b61984;
}
.carousel .container .about span {
  font-size: 60px;
  font-weight: 700;
  color: #181818;
}
.carousel .container .img {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .carousel .container .img {
    width: 100%;
  }
}
.carousel .container .img img {
  width: 100%;
}

.team {
  padding: 50px 0;
  position: relative;
  display: block;
  background-image: url("../img/Wave_White_bottom_right_shape_01.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.team .container .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .team .container .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 576px) {
  .team .container .row {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}
.team .container .row .teacher {
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media only screen and (max-width: 768px) {
  .team .container .row .teacher {
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
@media only screen and (max-width: 576px) {
  .team .container .row .teacher {
    display: block;
    padding: 20px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
.team .container .row .teacher .img {
  display: block;
  overflow: hidden;
}
.team .container .row .teacher .img img {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: visible;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.team .container .row .teacher .img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.team .container .row .teacher .info {
  padding: 15px;
  text-align: center;
  background-color: #ffffff;
}
.team .container .row .teacher .info .national {
  font-size: 13px;
  font-weight: 400;
  color: #b61984;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.team .container .row .teacher .info .name {
  font-size: 20px;
  font-weight: 600;
  color: #181818;
  margin-bottom: 8px;
}
.team .container .row .teacher .info .des {
  font-size: 13px;
  font-weight: 400;
  color: #181818;
}
.team .container .row .teacher:hover {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.course {
  padding-top: 50px;
  position: relative;
  display: block;
  z-index: 999;
  overflow: hidden;
}
.course::before {
  position: absolute;
  content: "";
  display: block;
  top: 12px;
  left: 0;
  background-image: url("../img/accent_bottom_wave_01.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
  width: 100%;
}
.course .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: visible;
}
@media only screen and (max-width: 768px) {
  .course .container {
    display: block;
  }
}
.course .container .img img {
  width: 100%;
}
.course .container .form-courses {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 998;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .course .container .form-courses {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}
.course .container .form-courses .form-title {
  font-size: 40px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 30px;
}
.course .container .form-courses .name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .course .container .form-courses .name-email {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}
.course .container .form-courses .name-email .name {
  position: relative;
  margin-right: 15px;
}
@media only screen and (max-width: 768px) {
  .course .container .form-courses .name-email .name {
    width: 100%;
    border-radius: 50px;
    margin-bottom: 20px;
    border: none;
  }
}
.course .container .form-courses .name-email .name .name-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 10px;
  color: #b61984;
}
.course .container .form-courses .name-email .name .name-input {
  outline: none;
  padding: 15px 0 15px 30px;
  border-radius: 20px;
  border: 1px solid #ccc;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media only screen and (max-width: 768px) {
  .course .container .form-courses .name-email .name .name-input {
    width: 100%;
    border: none;
    outline: none;
  }
}
.course .container .form-courses .name-email .email {
  position: relative;
}
@media only screen and (max-width: 768px) {
  .course .container .form-courses .name-email .email {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid #ccc;
  }
}
.course .container .form-courses .name-email .email .email-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 10px;
  color: #b61984;
}
.course .container .form-courses .name-email .email .email-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px 0 15px 30px;
  border-radius: 20px;
  border: none;
  outline: 1px solid #ccc;
}
@media only screen and (max-width: 768px) {
  .course .container .form-courses .name-email .email .email-input {
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
  }
}
.course .container .form-courses .select {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.course .container .form-courses .select .select-input {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 30px;
  background-color: #ffffff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.course .container .form-courses .select .select-input .language-select .select-icon {
  color: #b61984;
}
.course .container .form-courses .select .select-input .language-select span {
  font-size: 13px;
  font-weight: 400;
  color: #181818;
}
.course .container .form-courses .select .select-input .select-down {
  color: #b61984;
}
.course .container .form-courses .select .select-input .select-up {
  display: none;
  color: #b61984;
}
.course .container .form-courses .select .select-list {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  top: 100%;
  left: 0;
  right: 0;
  overflow: auto;
  opacity: 0;
  z-index: 100;
  padding-left: 27px;
}
.course .container .form-courses .select .select-list .select-list__item {
  list-style-type: none;
  padding: 5px;
  font-size: 13px;
  font-weight: 400;
  color: #181818;
}
.course .container .form-courses .select .select-list .select-list__item:hover {
  color: #b61984;
  cursor: pointer;
}
.course .container .form-courses .message {
  position: relative;
  margin-bottom: 20px;
}
.course .container .form-courses .message .message-icon {
  position: absolute;
  top: 24%;
  padding-left: 10px;
  color: #b61984;
}
.course .container .form-courses .message textarea {
  padding: 20px 20px 20px 30px;
  width: 100%;
  border-radius: 20px;
  outline: 1px solid #eaeaea;
  border: none;
}
.course .container .form-courses .btn-send {
  padding-bottom: 30px;
}
.course .container .form-courses .btn-send .send {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #b61984;
  border: 1px solid #ffffff;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.course .container .form-courses .btn-send .send:hover {
  color: #b61984;
  border: 1px solid #b61984;
  background-color: #ffffff;
}

.footer {
  padding: 50px 0 300px;
  background: url("../img/footer_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .footer .container .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media only screen and (max-width: 576px) {
  .footer .container .row {
    display: block;
    width: 100%;
  }
}
.footer .container .row .contact h4 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 30px;
}
.footer .container .row .contact .location {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 10px;
}
.footer .container .row .contact .location i {
  margin-right: 5px;
}
.footer .container .row .contact .phone-number {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 10px;
  display: inline-block;
}
.footer .container .row .contact .phone-number i {
  margin-right: 5px;
}
.footer .container .row .contact .date {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer .container .row .contact .date i {
  margin-right: 5px;
}
.footer .container .row .contact nav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-right: 8px;
}
.footer .container .row .contact nav a:hover {
  color: #181818;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media only screen and (max-width: 576px) {
  .footer .container .row .contact {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}
.footer .container .row .list-link h4 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 30px;
}
.footer .container .row .list-link ul li {
  list-style-type: none;
  margin-top: 20px;
}
.footer .container .row .list-link ul li a {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-right: 8px;
}
.footer .container .row .list-link ul li a:hover {
  color: #ccc;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media only screen and (max-width: 576px) {
  .footer .container .row .list-link {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}
.footer .container .row .sub h4 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 50px;
}
.footer .container .row .sub input {
  text-align: center;
  color: #ffffff;
  display: block;
  padding: 15px 30px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  background-color: transparent;
}
@media only screen and (max-width: 768px) {
  .footer .container .row .sub input {
    width: 100%;
  }
}
.footer .container .row .sub input::-webkit-input-placeholder {
  text-align: center;
  color: #ffffff;
}
.footer .container .row .sub input::-moz-placeholder {
  text-align: center;
  color: #ffffff;
}
.footer .container .row .sub input:-ms-input-placeholder {
  text-align: center;
  color: #ffffff;
}
.footer .container .row .sub input::-ms-input-placeholder {
  text-align: center;
  color: #ffffff;
}
.footer .container .row .sub input::placeholder {
  text-align: center;
  color: #ffffff;
}
.footer .container .row .sub .btn-sub {
  font-size: 14px;
  font-weight: 600;
  color: #181818;
  background-color: #ffffff;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer .container .row .sub .btn-sub:hover {
  color: #ffffff;
  border: none;
  background-color: #b61984;
}