$text-fz-1: 13px;
$text-fz-2: 14px;
$text-fz-3: 16px;
$text-fz-4: 18px;
$text-fz-2xl: 20px;
$text-fz-3xl: 30px;
$text-fz-4xl: 40px;
$text-fz-5xl: 50px;
$text-fz-6xl: 60px;
$text-color-primary: #181818;
$text-color-secondary: #b61984;
$text-color-3nd: #ffffff;
$text-fw-3: 300;
$text-fw-4: 400;
$text-fw-6: 600;
$text-fw-7: 700;
$bg-primary: #b61984;
$bg-secondary: #ffffff;
$XS: 576px;
$SM: 768px;
$MD: 992px;
$XL: 1200px;